<!-- Footer -->
<footer>
    <div class="row Container text-center" id="footerrow">
            <div class="col-lg-4">
                    <h1>first col</h1>
            </div>
            <div class="col-lg-4">
                    <h1>second col</h1>

            </div>
            <div class="col-lg-4">
                    <h1>thired col</h1>
            </div>
    </div>


    <div class="row Container text-center">
        <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2016</p>
        </div>
    </div>
</footer>   