<div class="header">
    {{!-- <h1>Welcome to Lost Planet</h1> --}}
     
</div>

<div class="navbar">
    <a href="/" class="active">Home</a>
    <a href="/layouts/about.handlebars">About Us</a>
    <a href="/events/calendar.html">Events</a>
<<<<<<< HEAD
    <a href="/layouts/contact.handlebars">Contact Us</a>
=======

   
    <a href="/contact.html">Contact Us</a>
>>>>>>> dd2d3d5b3f696487681a774e0e68fc1600982dd9
</div>