<div class="header">
    <h1>Welcome to Lost Planet</h1>
     
</div>

<div class="navbar">
    <a href="/" class="active">Home</a>
    <a href="#">About us</a>
    <a href="/events">Events</a>
    <a href="/layouts/contact.handlebars">Contact Us</a>
</div>