<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{> nav }}
        <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Welcome to Lost Planet</h1>
                            <div class="container-md" style="float: right;">
                            <ul class="blog_spot">
                              <li>dummy text</li>
                              <li>dummy text</li>
                              <li>dummy text</li>
                            </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="container-fluid">
                <img src="img/lostplanetgameslogo.jpg" class="lost_icon" alt="Responsive image">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, magnam facere voluptatibus quam repellat distinctio eligendi modi libero aliquam, quos exercitationem ad reiciendis facilis velit fugiat consectetur provident? Fuga, tenetur!
                </div>
                <h2>mini gallery section</h2>
                {{!-- <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap"><i class="fa fa-discord fa-fw"></i> <span class="network-name">Discord</span></a>
                        <i class="fab fa-discord"></i>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/LostPlanetGames/"><i class="fa fa-github fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/lostplanetgames/"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                </ul> --}}
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
  {{> footer }}