.contact p{
  font-size: 24px;
  margin-bottom: 0px;
}
.contact_p{
  font-size: 20px;
  margin-bottom: 0px;
}
input.contact_input,
input.admin_input{
  font-size: 23px;
  line-height: 1.3;
}
.contact{
  padding-bottom:30px;
}
.contact_info{
  margin: 100px auto;
}
#admin{
  float: right;
  color: black;
  background-color: white;
  border: 1px solid black;
}
.adm_login_p{
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.adm_login {
  width: 240px;
  margin: 100px auto;
}
#user-submit,
#submit_login{
  margin-top:20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;
}
#user-submit{
  margin-top: 0;
}
#DB{
  margin-top: 80px;
}

